.kanban{
    display: flex;
    padding: 30px;
    width: 750px;
    background: #009578;
    border-radius: 5px;
}

.kanban * {
    font-family: sans-serif;
}

.kanban__column {
    flex: 1;
    /* each col has equal width */
}

.kanban__column:not(:last-child){
    /* every cols but the last */
    margin-right: 30px
}

.kanban__column-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    user-select: none;
    /* can't highlight title - it will be usefull for our drag&drop */
}

.kanban__item-input{
    padding: 10px 15px;
    box-sizing: border-box;
    background:  white;
    border-radius: 5px;
    cursor: pointer;
    /* on hover, become pointer */
}

.kanban__dropzone {
    /* area that will appear before dropping */
    height: 20px;
    transition: background 0.15s, height 0.15s;
    /* controls the background transition aswell as the height */
}

.kanban__dropzone--active {
    /* area that will appear before dropping */
    height: 40px;
    background: rgba(0,0,0,0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}